<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  height: 100vh;
  justify-content: center;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

header div {
  font-size: 1rem;
  color: #333;
}

#jogo {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

#jogo button {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background-color: #7dcaf7;
  border: 2px solid #000000;
  cursor: pointer;
  transition: background 0.2s;
}

#jogo button:hover {
  background-color: #e6e6e6;
}
#reiniciar {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #397997;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#reiniciar:hover {
  background-color: #113a70;
}
=======
    /* Estilos para o tabuleiro e os botões */
    .tabuleiro {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        gap: 5px;
        margin-bottom: 20px;
    }

    .tabuleiro button {
        width: 100px;
        height: 100px;
        font-size: 2rem;
        cursor: pointer;
    }

    .placar {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    #reiniciar {
        font-size: 1.2rem;
        padding: 10px;
    }
>>>>>>> 6ed95067fae7b642a5e1cee6f5898c71fff4438d
